@model IEnumerable<TerrificTrioCakes.Models.DB.Ingredient>

@{
    ViewData["Title"] = "Ingredients";
}

@*Hosam: only admin and staff can see create option*@

@if (User.IsInRole("Admin") | User.IsInRole("Staff"))
{
    <p>
    <a asp-action="Create" class="btn btn-success btn-lg"> <i class="fa-sharp fa-solid fa-circle-plus"></i></a>
    </p>

}



<!DOCTYPE html>
<html lang="en">
<head>
    @*using fontawesome kit for icons styling*@
    <script src="https://kit.fontawesome.com/1269185472.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*admin and staff can edit and show details*@
                @if (User.IsInRole("Admin") | User.IsInRole("Staff"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="fa-regular fa-pen-to-square"></i></a> 
                }

                @*only admin can delete a category*@
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can fa-shake"></i></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
