@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="align-text-bottom privacy">
    <h2>This is a project of students from Manukau Institute of Technology. Developed for the sake of school assigment. </h2>
    <h3>Contributors:</h3>
    <li>Akhil Eldhose</li>
    <li>Hosam Ahmad</li>
    <li>Jeel Khadsaliya</li>
    <h3>Faculty:</h3>
    <li>Ahmad Wydan</li>
</div>