@{
    ViewData["Title"] = "About Us";
}

<div class="row about-us-page">
    <div class="col-7 about-us-form">
        <h1> About Us </h1>
        <h5> Terrific Trio's Cake History </h5>
        <p>
            " The Terrific Trio Shop started with just one store in the inner-west Sydney suburb of Rozelle in 1991 and has now grown to be an international success
            with over 225 cake bakeries and over 2000 employees across Australia and New Zealand.<br /><br />

            Nearly all of our shops are independently owned and operated by skilled franchisees, most of which have been with us for many years.<br /><br />

            The franchised structure of the business together with the disciplined procedures and recipes helped create a consistency of quality that has led
            to ‘The Terrific Trio Shop’ brand achieving exceptionally strong consumer awareness and preference.  In 1997, The Terrific Trio Shop was acknowledged
            by its peers in the world of franchising by being awarded the prestigious ‘Franchise System of the Year’ in Australia.<br /><br />

            To ensure that The Terrific Trio Shop brand remains as relevant and loved today and in the years ahead as it has been in the past, stores are progressively
            updated and in 2009, a brand refresh initiative was launched. The refresh saw the herald of the modernisation of the brand and signage together with an upgrade
            of the retail shop fronts to incorporate a clean new look with state of the art refrigeration.<br /><br />

            In 2016, a bakery refurbishment initiative commenced which modernised the back-of-house operations to maintain product quality, efficiencies and consistency
            by the network of more than 200 franchises.<br /><br />

            Ken Rosebery is the Managing Director and is supported by a professional management and franchisee support team.<br /><br />

            Along the way the business has grown and evolved into a sophisticated and profitable modern enterprise. In addition to the franchising business, an ingredients
            supply operation was established, called United Network Suppliers, to support the retail bakeries. The headquarters of the business is now located in an office
            and warehouse complex at Fairfield East in Western Sydney (NSW Australia) and new franchisees are trained in the on-site bakery and retail store front.<br /><br />

            Today the brand is synonymous with immaculately presented, hand-crafted delicious cakes, loved by a generations of Australians and New Zealanders. "<br /><br />
        </p>
        <p class="cited"> - Text cited from <a href="https://www.thecheesecakeshop.co.nz/about-cake-bakery" target="_blank"> The CheeseCake Shop</a> </p>
    </div>
    <div class="col-5">
        <img src="~/images/cakeAboutUs01.jpg" />
    </div>
</div>