<div class="row contact-us-page">
    <div class="col-7 contact-us-form">
        <h1 class="text-center"> Contact Us </h1>
        <h5 class="text-center"> Get in touch for any query </h5>
        <form>
            <div class="form-group">            
                <input type="text" class="form-control" id="contactInputFirstName" placeholder="Enter your name">
            </div>            
            <div class="form-group">            
                <input type="email" class="form-control" id="contactInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">            
            </div>
            <div class="form-group">            
                <textarea class="form-control" id="contactInputMessage" rows="3" placeholder="Enter your message..."></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.662382550521!2d174.87510011580778!3d-36.99399129535249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4dc0014191a1%3A0x134d1133e88c7ca5!2sManukau%20Institute%20of%20Technology%2C%20Manukau%20campus!5e0!3m2!1sen!2snz!4v1668927597060!5m2!1sen!2snz" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>