html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
:hover {
    transition-duration: 0.4s;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-row .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}
.product-row .card {
    border-radius: 0;
}
.product-row .card .card-body p.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-row .card .card-body-footer a.btn.btn-primary, .product-single-header .product-single-summary a.btn.btn-primary {
    font-size: 14px;
    padding: 5px 20px 7px 20px;
    margin-top: -7px;
    background: transparent;
    color: #333;
    font-weight: 700;
    border: 1px solid #333;
    border-radius: 0;
}
.product-row .card .card-body-footer a.btn.btn-primary:hover, .product-single-header .product-single-summary a.btn.btn-primary:hover {
    background: #333;
    color: #fff;
}
.product-row .card .card-body-header h5, .product-row .card .card-body-footer a, .product-row .card .card-body-footer h6 {
    letter-spacing: 1px;
}
.product-row .card .card-body-header p {
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
}
/*.product-row .card .card-body-footer h6 .currency*/
.currency {
    font-size: 10px;
}
.product-row .card .card-body-header a {
    text-decoration: none !important;
    color: #333;
}
.product-row .card .card-body-header a:hover h5 {
    opacity: 0.6;
    letter-spacing: 5px;
    transition-duration: 1s;
}

.product-single-header .product-single-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.product-single {
    padding: 50px !important;
    border: 1px solid #eee;
}
.product-single-header .product-single-summary h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 800;
}
.product-single-header .product-single-summary h4 {
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.product-single-header .product-single-summary p.desc {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin-top: 20px;
}
.product-single-header .product-single-summary h2 span {
    font-size: 18px;
}
.product-single-header .product-single-summary h2 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 800;
}
.product-single-header .product-single-summary a.btn.btn-primary {
    padding: 5px 30px 7px 30px;
    margin-top: 10px;
}
.product-single-header .product-single-summary h6 {
    font-size: 14px;
    letter-spacing: 1px;
    font-style: italic;
    padding-top: 10px;
}
.product-single-header .product-single-summary p.list {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
    font-style: italic;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.product-single-header .product-single-summary p.list span:last-child::after {
    content: "";
}

.product-single-header .product-single-summary p.list span::after {
    content: ",";
}

.carousel-inner > div {
    max-height: 500px;
}
.carousel-inner > div img {
    max-height: 500px;
    object-fit: cover;
}

.badge-custom {
    color: red;
    background: yellow;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}
.card-body-header h6.cake-cat {
    font-size: 12px;
    letter-spacing: 1px;
}

/*=================================*/

.cart-card-cls .title {
    margin-bottom: 5vh;
}
.cart-card-cls {
    margin: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .cart-card-cls {
        margin: 3vh auto;
    }
}
.cart-card-cls .cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart-card-cls .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.cart-card-cls .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .cart-card-cls .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}
.cart-card-cls .summary .col-2 {
    padding: 0;
}
.cart-card-cls .summary .col-10 {
    padding: 0;
}
.cart-card-cls .row {
    margin: 0;
}
.cart-card-cls .title b {
    font-size: 1.5rem;
}
.cart-card-cls .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.cart-card-cls .col-2, .cart-card-cls .col {
    padding: 0 1vh;
}
.cart-card-cls a {
    padding: 0 1vh;
}
.cart-card-cls .close {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.cart-card-cls img {
    width: 3.5rem;
}
.cart-card-cls .back-to-shop {
    margin-top: 4.5rem;
}
.cart-card-cls h5 {
    margin-top: 4vh;
}
.cart-card-cls hr {
    margin-top: 1.25rem;
}
.cart-card-cls form {
    padding: 2vh 0;
}
.cart-card-cls select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.cart-card-cls input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.cart-card-cls input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.cart-card-cls .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.cart-card-cls .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.cart-card-cls .btn:hover{
    color: white;
}
.cart-card-cls a {
    color: black;
}
.cart-card-cls a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}
.home-featured-product-title {
    padding-top: 50px;
    letter-spacing: 2px;
    font-weight: 800;
}
.home-featured-product-title h2 {
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
}
.home-featured-products {
    padding-top: 30px;
    padding-bottom: 50px;
}
.search-products .card {
    border: none;
}
.search-products .card .card-body input.form-control {
    padding: 0 10px;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 0;
    /*position: relative;*/
}
.search-products .card .card-body button.btn {
    padding: 5px 20px 5px 20px;
    font-size: 16px;
    border-radius: 0;
    background: #333;
    color: #fff;
    letter-spacing: 1px;
}
.search-products .card .card-body button.btn:hover {
    background: #fff;
    color: #333;
}
.form-control:focus {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    outline: black;
    border: 1px solid #ced4da;
    box-shadow: none;
}
.autosugg {
    position: relative;
    display: block;
    z-index: 100;
    width: 100%;
    border: 1px solid #ced4da;
    box-shadow: 0px 10px 20px -10px #000;
    background: #fff;
}
.autosugg > input {
    width: 100% !important;
    border: none;
    background: transparent;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.search-products .card .card-body {
    padding-bottom: 30px;
}
.products-page {
    margin-top: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);

}
.navbar-light .navbar-brand.site-logo, footer .navbar-brand.site-logo {
    font-weight: 800;
    letter-spacing: 0.5px;
    border: 2px solid;
    padding: 3px 5px;
    color: #fff;
}
.navbar-light .navbar-brand.site-logo:hover, footer .navbar-brand.site-logo:hover {
    color: rgba(255,255,255,0.5);
}
nav.main-nav {
    padding: 0;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 50%) !important;
}
nav.main-nav > div {
    background: #333;
    padding: 10px 15px;
}
nav.main-nav.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    font-weight: 600;
}
nav.main-nav.navbar-light .navbar-nav .nav-link:hover {
    background:#fff;
    color: #333 !important;
}
.logout-btn > button {
    border-radius: 0;
}
.after-login-username, .logout-btn > button {
    font-size: 12px;
}
#carouselExampleIndicators {
    padding-top: 20px;
}
.products-pagination {
    padding-top: 20px;
}
.pagination-container > .pagination {
    justify-content: center !important;
    margin-top: 20px;
}
.pagination-container > .pagination > li > .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #333;
}
.pagination-container > .pagination > li.active > .page-link {
    background: #333;
    color: #fff;
}
.pagination-container > .pagination > li > .page-link:focus {
    box-shadow: none !important;
}


.login-form-cls {
    background: #333 !important;
}
section.login-page-form, .register-page-form {
    background: #333;
    padding: 30px 50px 20px 50px;
}
section.login-page-form h1, .register-page-form h1 {
    color: #fff;
}
section.login-page-form hr, .register-page-form hr {
    opacity: 1;
    color: #fff;
}
section.login-page-form input#Input_Email, section.login-page-form input#Input_Password,
.register-page-form input#Input_FirstName, .register-page-form input#Input_LastName, .register-page-form input#Input_Email, .register-page-form input#Input_Password,
.register-page-form select#Input_Membership, .register-page-form select#Input_MembershipDuration, .register-page-form input#Input_ConfirmPassword {
    padding: 10px 15px !important;
    height: auto !important;
    margin-bottom: 10px;
    border-radius: 0;
}
section.login-page-form button#login-submit, .register-page-form #registerSubmit {
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 700;
    max-width: 50%;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0;
    margin-bottom: 10px;
    margin-top: 15px;
}
section.login-page-form button#login-submit:hover,
section.login-page-form a#login-page-signup:hover, .register-page-form #registerSubmit:hover {
    background: #fff;
    color: #333;
}
section.login-page-form a#login-page-signup {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
}
.form-footer-sec {
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.5);
}


.contact-us-page {
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-us-form {
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
}
.contact-us-form h1 {
    font-size: 36px;
    letter-spacing: 2px;
}
.contact-us-form h5 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.contact-us-form input, .contact-us-form textarea {
    padding: 10px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.1);
}
.contact-us-form button {
    padding: 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    background: #333;
    color: #fff;
    border: 2px solid #333;
    border-radius: 0;
}
.contact-us-form button:hover {
    background: #fff;
    color: #333;
    border: 2px solid #333;
}


footer {
    background: #333;
    padding: 50px;
}




@media (min-width: 768px) {
    .row-cols-md-3.home-featured-products > .col {
        width: 33.3333333333%;
    }
}









/*Contact Us*/
.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

    .contact .row .image {
        flex: 1 1 35rem;
    }

        .contact .row .image img {
            width: 100%;
        }

    .contact .row form {
        flex: 1 1 50rem;
        padding: 2rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }

        .contact .row form .inputBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

            .contact .row form .inputBox input, .contact .row form textarea {
                width: 49%;
                margin: 1rem 0;
                padding: 1rem;
                font-size: 1.7rem;
                color: #333;
                background: #f7f7f7;
                text-transform: none;
            }

        .contact .row form textarea {
            height: 15rem;
            resize: none;
            width: 100%;
        }

.contact button.btn {
    padding: 3px 20px 4px 20px;
    font-size: 16px;
    border-radius: 0;
    background: #333;
    color: #fff;
    letter-spacing: 1px;
}

    .contact button.btn:hover {
        background: #fff;
        color: #333;
    }

.brand-container {
    text-align: center;
}

